body {

    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;

}

header {

    background-color: green;
    color: white;
    text-align: center;
    padding: 1rem 0;

}

.logo {

    max-width: 100%;
    height: auto;
    width: 300px;
    display: block;
    margin: 0 auto;

}

.productos {

    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

}

.tarjeta {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3 ease;
    text-align: center;
    overflow: hidden;
    flex: 1 1 calc(20% -20px);
    max-width: calc(20% -20px);

}

.tarjeta img {
    width: 100%;
    height: auto;
}

.tarjeta:hover {

    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0,0, 0, 0.1);
}

@media (max-width: 800px) {

    .logo {
        width: 250px;
    }
    .tarjeta {
        flex: 1 1 calc(25% -20px);
        max-width: calc(25% -20px);
    } 
}

